In [16]:
import pandas as pd
import numpy as np
import os
from scipy import stats
from scipy.stats import chi2_contingency

In [12]:
astro_metier=pd.read_csv('astro_metier.csv')
astro_metier

         signe                         metier               categorie element
0      taureau                      hoteliere  hotelerie_restauration   terre
1     scorpion                 data scientist               ingenieur     eau
2      verseau                 data scientist               ingenieur     air
3       vierge         chage de communication           communication   terre
4   capricorne  responsable marketing digital               marketing   terre
..         ...                            ...                     ...     ...
81     taureau                      graphiste                    crea   terre
82      belier                        danseur                    crea     feu
83    balance                              RH     ressources humaines     air
84     poisson                     commercial              commercial     eau
85     taureau                          sante                   sante   terre

[86 rows x 4 columns]

In [13]:

contigency = pd.crosstab(astro_metier['element'], astro_metier['categorie'])
contigency

categorie,artisanat,commercial,communication,crea,etudiant,finance,fonction publique,hotelerie_restauration,ingenieur,journalisme,juridique,marketing,ressources humaines,sante,transport
element,,,,,,,,,,,,,,,
air,0,2,1,2,1,1,0,1,4,0,2,1,2,5,2
eau,1,1,1,0,0,5,2,0,3,0,0,2,0,3,1
feu,0,0,1,2,0,2,0,0,5,0,0,2,0,3,0
terre,0,4,3,3,0,3,3,4,2,2,0,1,1,2,0

In [17]:
chi2, p, dof, ex = chi2_contingency(contigency, correction=False)

In [18]:
chi2

49.323052427939636

In [19]:
p

0.203662078083268

In [ ]:
# p > 0.05 donc H1: il y a une corrélation n'est pas validée